<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sky.mapper.BookMapper">
	<update id="updateBook">
	 	update t_book 
	 	<set>
			<if test = "bookname != null">
				bookname = #{bookname},
			</if>				 	
			<if test = "bookauthor != null">
				bookauthor = #{bookauthor},
			</if>
			<if test = "bookprice != null">
				bookprice = #{bookprice},
			</if>
			<if test = "bookamount != null">
				bookamount = #{bookamount},
			</if>
			<if test = "booktype != null">
				booktype = #{booktype}
			</if>
	 	</set>
		<where>
			id = #{id}
		</where>
	</update>
</mapper>