<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sky.mapper.BookMapper">
	<update id="updateBook">
	 	update t_book
	 	<set>
			<if test = "bookName != null">
				book_name = #{bookName},
			</if>
			<if test = "bookAuthor != null">
				book_author = #{bookAuthor},
			</if>
			<if test = "bookPrice != null">
				book_price = #{bookPrice},
			</if>
			<if test = "bookAmount != null">
				book_amount = #{bookAmount},
			</if>
			<if test = "bookType != null">
				book_type = #{bookType}
			</if>
	 	</set>
		<where>
			id = #{id}
		</where>
	</update>
</mapper>
